    </div>
    <footer style="width: 100%; position: absolute; bottom: 0.5em; background-color: orange;">
        <div style="text-align: center;">Created by Chris Haffey - Copyright {{getCurrentYear}}</div>
    </footer>
</body>
</html>
