<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <style type="text/css">
        * {
            font-family: Helvetica, Arial, sans-serif;
        }

        footer {
            font-size: 7pt;
        }
    </style>
</head>
<body>
<header>
    <h1>{{pageTitle}}</h1>
    <p><a href='/'>Home</a> | <a href='/about'>About</a></p>
</header>
